.searchContainer{
    width: 100%;
    display: flex;
    
    
    padding: 15px;
    .topResultAndSongsContainer{
        width: 100%;
        display: flex;
        
        .topResultCard{
            display: flex;
            flex-direction: column;
            width: 380px;
            height: 210px;
            
            margin-top: 15px;
            box-sizing: border-box;
            padding: 20px;
            border-radius: 6px;
            background-color: rgb(20, 20, 20);
            cursor: pointer;
            &:hover{
                background-color: rgb(44, 44, 44);
            }
        }
        .searchResultSongsContainer{
            width:100%;
            color: white;
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            margin-right: 40px;
            .searchResultBar{
                display: flex;
                width: 100%;
                
                justify-content: space-between;
                margin-top: 15px;
                
                border-radius: 5px;
                padding: 10px;
                cursor: pointer;
                &:hover{
                    background-color: rgb(71, 70, 70);
                }

            }
        }
        

    }
}